body,html{
  font-family: "Jura", sans-serif;
  scroll-behavior: smooth;
  color:black;

  	/* background-image: linear-gradient(45deg, #7175da, #9790F2); */
}

header {
  text-align: center;
  color: #fff;
  background-attachment: scroll;
  background-position: center center;
  position:relative;
  text-align:center;
  background: linear-gradient(60deg, rgb(137, 45, 179) 0%, rgb(146, 31, 100) 100%);
  color:white;
}

header .intro-text {
  padding-top: 100px;
  padding-bottom: 50px;
}

header .intro-text .heading-primary {
  margin-bottom: 25px;
  font-family: "Source Sans Pro",sans-serif;
  font-size: 50PX;
   text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    color: #111;
    font-weight: 800;
    margin-top: 50px;
}

header .intro-text .heading-info {
  margin-bottom: 25px;
 
  font-family: "Source Sans Pro",sans-serif;
  font-size: 22px;
  color: #111;
 max-width: 800px;
}
header .intro-text .header-button{
  background: rgb(113, 76, 179);
  color: #333;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: inline-block;
  font-weight: 700;
  border-radius: 5px;
  box-shadow: 0 5px 15px 0 rgb(0 0 0 / 15%);
  transition: transform .3s;
  padding: 1rem 3rem;
  font-size: 1.4rem;
}
@media(min-width:768px) {
  header .intro-text {
      padding-top: 300px;
      padding-bottom: 200px;
  }

  header .intro-text .intro-lead-in {
      margin-bottom: 25px;
      font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
      font-size: 40px;
      font-style: italic;
      line-height: 40px;
  }

  header .intro-text .intro-heading {
      margin-bottom: 50px;
      text-transform: uppercase;
      font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
      font-size: 75px;
      font-weight: 700;
      line-height: 75px;
  }
}





.inner-header {
  height:70vh;
  width:100%;
  margin: 0;
  padding: 0;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.waves {
  position:relative;
  width: 100%;
  height:15vh;
  margin-bottom:-7px; /*Fix for safari gap*/
  min-height:300px;
  max-height:150px;
}

.content {
  position:relative;
  height:20vh;
  text-align:center;
  background-color: white;
}

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}

@media (max-width: 768px) {
  .waves {
    height:40px;
    min-height:40px;
  }
  .content {
    height:30vh;
  }

}

h1, h2, h3, h4, h5, h6 {
  color: #2c3145;
}
a, a:hover, a:focus, a:active {
  text-decoration: none;
  outline: none;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.section_all {
  position: relative;
  padding-top: 80px;
  padding-bottom: 80px;
  min-height: 100vh;
}
.section-title {
  font-weight: 700;
  text-transform: capitalize;
  letter-spacing: 1px;
}

.section-subtitle {
  letter-spacing: 0.4px;
  line-height: 28px;
  max-width: 550px;
}

.section-title-border {
  background-color: #000;
  height: 1 3px;
  width: 44px;
}

.section-title-border-white {
  background-color: #fff;
  height: 2px;
  width: 100px;
  
}
.text_custom {
  color: rgb(71, 71, 213);
}

.about_icon i {
  font-size: 22px;
  height: 65px;
  width: 65px;
  line-height: 65px;
  display: inline-block;
  background: #fff;
  border-radius: 35px;
  color: rgb(71, 71, 213);
  box-shadow: 0 8px 20px -2px rgba(158, 152, 153, 0.5);
  transform: scale(1); 
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1); 
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1); 
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1);
  transition: all 200ms ease-in;
  transform: scale(1);   

}
.about_icon:hover{
  z-index: 2;
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1.5);
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1.5);   
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1.5);
  transition: all 200ms ease-in;
  transform: scale(1.5);

}

.about_icon span {
  position: relative;
  top: -10px;
}

.about_content_box_all {
  padding: 28px;
 
}


.experience-card {
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
	display: flex;
	max-width: 100%;
  height: 100%;
	overflow: hidden;
  position: relative;
  animation-name: left_to_right;
  animation-duration: 5s;
  margin-left: 20px;
}

.experience-card h6 {
	opacity: 0.6;
	margin: 0;
	letter-spacing: 1px;

}

.experience-card h3 {
	letter-spacing: 1px;
	margin: 10px 0;
}

.experience-preview {
	background-color: rgb(220, 199, 235);
	color: rgb(113, 76, 179);
	padding: 30px;
	max-width: 250px;
}

.experience-preview h3 {
	display: inline-block;
	opacity: 0.6;
	margin-top: 20px;
	text-decoration: none;
}

.experience-info {
	padding: 30px;
	position: relative;
	width: 100%;
}


*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#skills {
  --color: rgba(30, 30, 30);
  --bgColor: rgba(245, 245, 245);
  min-height: 100vh;
  display: grid;
  align-content: center;
  gap: 2rem;
  padding: 2rem;

  color: var(--color);
  background: var(--bgColor);
}


#skills ul {
  width: min(60rem, 90%);
  margin-inline: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  justify-content: center;
  gap: 2rem;
  list-style: none;
}

#skills ul li {
  max-width: 12rem;
  justify-self: center;
  display: grid;
  grid-template:
    "icon"
    "line"
    "dot"
    "title"
    "descr" 1fr;
  justify-items: center;
  align-items: flex-start;
  text-align: center;
}

#skills ul li .icon {
  grid-area: icon;
  width: 6rem;
  aspect-ratio: 1;
  display: grid;
  place-items: center;
  color: white;
  font-size: 2.5rem;
  border: 0.4rem solid var(--bgColor);
  border-radius: 50%;
  background: var(--accent-color);
  box-shadow: -0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.45),
    inset -0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.45);
}

#skills ul li::before {
  content: "";
  grid-area: line;
  height: 2rem;
  border-right: 2px dotted currentColor;
}

#skills ul li::after {
  content: "";
  grid-area: dot;
  width: 1rem;
  aspect-ratio: 1;
  border-radius: 50%;
  background: var(--accent-color);
  justify-self: center;
  margin-bottom: 0.5rem;
}

#skills ul li .title {
  grid-area: title;
  margin-block: 0.5rem;
  font-size: 1.3rem;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
}

#skills .credits {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}
#skills .credits a {
  color: var(--color);
}
.project{
 
  margin-bottom: 50px;
  max-width: 300px;
  padding: 1.5rem;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  justify-content: center;
  align-items: center;

  transition: 0.5s;
}
.project:hover {
  transform: translateY(-50px);
}

.project .project-title{
  margin: 3px;
  margin-bottom: 20px;
}
.project .project-tag{
  margin: 0.2rem;
  margin-bottom: 20px;
}
.project .project-tag {
  display: inline-block;
  background-color: rgb(220, 199, 235);
  color: rgb(113, 76, 179);
  font-weight: 600;
  font-size: 0.875rem;
  padding: 0.5em 0.75em;
  line-height: 1;
  border-radius: 6px;

}
.project-button {
  font: inherit;
  line-height: 1;
  background-color: white;
  border: 2px solid rgb(220, 199, 235);
  color: indigo;
  padding: 0.5em 1em;
  border-radius: 6px;
  font-weight: 500;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  
}
.project-button:hover,
.project-button:focus {
    background-color:rgb(113, 76, 179);
    color: white;
    cursor: pointer;
  }




.new_footer_area {
    background: #fbfbfd;
}


.new_footer_top {
    padding: 120px 0px 200px;
   
    position: relative;
      overflow-x: hidden;
}


.new_footer_top .company_widget p {
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    color: #6a7695;
    margin-bottom: 20px;
}


.new_footer_top .f_social_icon a {
    width: 44px;
    height: 44px;
    line-height: 43px;
    background: transparent;
    border: 1px solid #e2e2eb;
    font-size: 24px;
}
.f_social_icon a {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    font-size: 14px;
    line-height: 45px;
    color: #858da8;
    display: inline-block;
    background: #ebeef5;
    text-align: center;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
.ti-facebook:before {
    content: "\e741";
}
.ti-twitter-alt:before {
    content: "\e74b";
}
.ti-vimeo-alt:before {
    content: "\e74a";
}
.ti-pinterest:before {
    content: "\e731";
}



.new_footer_top .f_social_icon a:hover {
    background: #5e2ced;
    border-color: #5e2ced;
  color:white;
}
.new_footer_top .f_social_icon a + a {
    margin-left: 4px;
}
.new_footer_top .f-title {
    margin-bottom: 30px;
    color: #263b5e;
}
.f_600 {
    font-weight: 600;
}
.f_size_18 {
    font-size: 18px;
}



.new_footer_top .footer_bg {
    position: absolute;
    bottom: 0;
    background: url("https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEigB8iI5tb8WSVBuVUGc9UjjB8O0708X7Fdic_4O1LT4CmLHoiwhanLXiRhe82yw0R7LgACQ2IhZaTY0hhmGi0gYp_Ynb49CVzfmXtYHUVKgXXpWvJ_oYT8cB4vzsnJLe3iCwuzj-w6PeYq_JaHmy_CoGoa6nw0FBo-2xLdOPvsLTh_fmYH2xhkaZ-OGQ/s16000/footer_bg.png") no-repeat scroll center 0;
    width: 100%;
    height: 266px;
}



.footer-content{
  display: flex;
    justify-content: space-between;
}



@keyframes left_to_right {
  from {left: -100px;}
  to {left: 0px;}
}